header {
    background-color: rgb(80, 78, 78);
    margin: 0px;
    color:rgb(165, 154, 135);
    Padding: 1rem;
    font-family:Georgia, 'Times New Roman', Times, serif;
    display: flex;
}

footer {
    position:fixed;
    left:0px;
    bottom:0px;
    height: 30px;
    width:100%;
    background:rgb(80, 78, 78);
    display: flex;
    Padding: 1rem;
}